.blogTemplate {
  padding: 2% 14%;
}

.blogTemplateTitle {
  margin: 80px 0 24px;
  color: black;
}

.blogTemplateDate {
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1.5em;
}

.blogTemplate a {
  color: #fff;
}

.blogBody p {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  line-height: 1.5em;
  margin: 0 0 4%;
}

.blogBody h1 {
  font-family: 'Raleway', sans-serif;
}

.blogBody h2 {
  margin: 0 0 2%;
  font-size: 28px;
}

.blogBody img {
  margin-bottom: 20px;
}
