.blogTemplate {
  padding: 5% 10%;
}

.backToBlogs {
  position: absolute;
  top: 70px;
  left: 15px;
  color: var(--purple);
  z-index: 2;
}

.blogTemplateTitle {
  margin: 90px 0 24px;
  color: black;
}

.blogTemplateDate {
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1.5em;
  text-align: center;
}

.blogTemplate a {
  color: #fff;
}

.blogBody p {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  line-height: 1.5em;
  margin: 0 0 4%;
}

.blogBody h1 {
  font-family: 'Raleway', sans-serif;
}

.blogBody h2 {
  margin: 0 0 2%;
  font-size: 1.6em;
}

.blogBody img {
  display: block;
  margin: 0 auto 10px;
}

.share {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 50px;
  padding: 0 10%;
}

.share a {
  color: var(--purple);
}

.share a:hover {
  color: var(--mainTeal);
}

.backLink {
  text-align: center;
  padding-bottom: 30px;
}

.backToBlogsBottom {
  color: white;
  width: auto;
  height: 43px;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  background-color: var(--mainTeal);
}

@media screen and (min-width: 760px) {
  .blogTemplate {
    padding: 5% 14%;
  }

  .backToBlogs {
    position: absolute;
    top: 110px;
    left: 25px;
    color: var(--purple);
  }

  .backToBlogs:hover {
    color: var(--mainTeal);
  }

  .blogBody h2 {
    margin: 0 0 2%;
    font-size: 2em;
  }

  .blogBody img {
    margin: 0 auto 20px;
  }

  .backToBlogsBottom {
    padding: 15px;
  }
}
