:root {
  --offWhite: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: var(--offWhite);
}

h1 {
  font-size: 1.8em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

.titleLine {
  font-family: 'Bellota Text', cursive;
}

.tagline {
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: left;
  color: white;
  padding-right: 2%;
}

hr {
  background-color: #74b1b1d7;
  border: none;
  margin-bottom: 7%;
}

.contactBlurb {
  line-height: 22px;
  margin: 10px 5px;
}

.active {
  font-size: 1.4em;
}

.homePage {
  height: 100vh;
  background-image: url('/images/geo.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80%;
  position: relative;
  z-index: -1;
}

.overlay {
  background-image: linear-gradient(to right, var(--mainTeal), #17686eb3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.titleSection {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding-top: 16%;
  margin: 0 0 9% 7%;
}

.titleLine {
  margin: 0;
  color: white;
  text-align: left;
  font-size: 4.5em;
  position: relative;
  animation: nameAnimation 1s ease-in;
}

.contact {
  padding: 4%;
  width: 100%;
  text-decoration: none;
}

.allBlogPosts {
  margin-top: 80px;
}

@media screen and (min-width: 760px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2.6em;
  }

  .homePage {
    background-repeat: repeat;
    background-size: 100%;
  }

  .titleSection {
    margin: 0 0 3% 4%;
    width: 100%;
  }

  .titleLine {
    margin: 0;
    font-size: 7em;
  }

  .tagline {
    text-align: left;
  }

  .outline {
    text-align: center;
  }

  .allBlogPosts {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% repeat(auto-fill);
    background-color: var(--offWhite);
  }
}
