.aboutPage {
  line-height: 1.3em;
  padding: 3% 0%;
  margin-top: 5%;
}

.aboutSection {
  padding: 2% 4%;
  background-color: white;
  margin: 5%;
  text-align: left;
}

.talkSection,
.podcastSection {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50px auto;
  margin-bottom: 20px;
}

.aboutTitle {
  grid-column: 1;
  font-size: 1.4em;
  color: var(--mustard);
  text-align: right;
  margin-top: 20px;
}

.aboutList {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.aboutList li {
  margin: 10px 0;
}

.speakerLinks {
  color: var(--mainTeal);
}

.underline {
  grid-column: 1;
  background: var(--mustard);
  margin: 0;
  width: 85px;
  height: 3px;
  border: none;
  display: flex;
  justify-self: flex-end;
}

.podcastSection:hover .underline,
.talkSection:hover .underline {
  width: 80%;
  transition: width 0.4s;
}

@media screen and (min-width: 760px) {
  .aboutPage {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 3% 8%;
  }

  .aboutSection {
    margin: 3%;
  }

  .aboutTitle {
    margin-top: 25px;
    font-size: 1.8em;
  }

  .aboutList {
    padding-left: 15%;
    font-size: 1em;
  }

  .aboutList li {
    margin: 15px 0;
  }

  .speakerLinks:hover {
    color: black;
  }

  .talkSection,
  .podcastSection {
    grid-template-columns: 40% 60%;
    grid-template-rows: 80px auto;
  }
}
