.contactSection {
  line-height: 1.3em;
  padding: 3% 8%;
  margin-top: 5%;
  text-align: left;
}

#contact {
  font-size: 1.8em;
  color: black;
  margin-top: 10px;
}

.reachOutBlurb {
  font-size: 1em;
  padding: 0 8%;
}

@media screen and (min-width: 760px) {
  .contactSection {
    margin-top: 0;
  }

  #contact {
    font-size: 2.15em;
    margin: 25px 0 50px;
  }

  .reachOutBlurb {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 8%;
  }
}
