@keyframes navAnimation {
  0% {
    transform: scale(0.1, 0.1) translateY(-150%);
  }
  100% {
    transform: scale(1, 1) translateY(0%);
  }
}

#nav-line {
  margin-bottom: 0;
  margin-top: 60px;
  background-color: white;
  animation: navAnimation 1s ease-in;
}

#nav-line-2 {
  margin-bottom: 0;
  margin-top: 7px;
  background-color: white;
  animation: navAnimation 0.8s ease-in;
}

.navBarMobile {
  width: 100%;
  height: 60px;
  background-color: #17686e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menuButton {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menuButton .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  background-color: #fff;
  transition: all 0.5s ease-out;
}

.menuButton.close {
  transform: rotate(180deg);
}

.menuButton.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuButton.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menuButton.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
  animation: navAnimation 0.5s ease-out;
}

.menu.show {
  visibility: visible;
  transition: all 0.5s ease-out;
}

.navigationBar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #17686e;
  color: #fff;
  list-style: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.navigationBar.show {
  transform: translate3d(0, 0%, 0);
  z-index: 99;
}

.navItem {
  transform: translate3d(300px, 0, 0);
  transition: all 0.5s ease-out;
  z-index: 99;
  font-size: 2em;
  line-height: 2em;
}

.navItem.show {
  transition: all 0.5s ease-out;
  transform: translate3d(0, 0, 0);
}

.menu .navItem.current > a {
  color: var(--mustard);
}

.navItem:nth-child(1) {
  transition-delay: 0.1s;
}

.navItem:nth-child(2) {
  transition-delay: 0.2s;
}

.navItem:nth-child(3) {
  transition-delay: 0.3s;
}

.navItem:nth-child(4) {
  transition-delay: 0.4s;
}

.navItem:nth-child(5) {
  transition-delay: 0.5s;
}

.navItem:nth-child(6) {
  transition-delay: 0.6s;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.navigationBar a {
  color: white;
  text-decoration: none;
}

.active {
  font-size: 1.4em;
}

@media screen and (min-width: 760px) {
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
  }

  .navigationBar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #17686e;
    color: #fff;
  }

  .navItem {
    font-size: 1.1em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  .navigationBar a {
    color: white;
    text-decoration: none;
  }

  .menuButton,
  .navBarMobile {
    visibility: hidden;
  }

  .menu {
    width: 100%;
    height: 80px;
    margin: 0;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    z-index: 99;
    transform: none;
  }

  .navigationBar {
    padding: 0;
    display: flex;
    height: 90px;
    width: 100vw;
    background-color: #17686e;
    flex-direction: row;
    overflow: none;
    background-attachment: fixed;
    transform: none;
    flex-flow: unset;
  }

  .menu .navItem {
    margin: 3.5%;
    transform: translate3d(0, 0, 0);
  }

  .menuButton,
  .menuButton .btn-line {
    transition: none;
  }

  #nav-line {
    margin-top: 90px;
  }
}
