.post {
  margin: 5%;
  padding: 6% 4%;
  overflow: hidden;
  background-color: white;
  text-align: left;
}

.postTitle {
  font-size: 2em;
  margin: 0;
}

.post:hover .divider {
  width: 80%;
  transition: width 0.4s;
}

.divider {
  margin: 15px 0 30px;
  width: 85px;
  height: 3px;
  border: none;
}

.post:nth-child(3n + 1) .divider {
  background: var(--purple);
}

.post:nth-child(3n + 2) .divider {
  background: var(--mustard);
}

.post:nth-child(3n + 3) .divider {
  background: var(--lightTeal);
}

.postDescription {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
}

.postDate {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
}

.post a {
  color: white;
  width: 138px;
  height: 43px;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  z-index: 99;
}

.post a:hover {
  opacity: 0.7;
  transition: all 1s;
}

.post:nth-child(3n + 1) a {
  background: var(--purple);
}

.post:nth-child(3n + 2) a {
  background: var(--mustard);
}

.post:nth-child(3n + 3) a {
  background: var(--lightTeal);
}

@media screen and (min-width: 760px) {
  .post {
    margin: 40px;
    padding: 40px;
    overflow: hidden;
    background-color: white;
    text-align: left;
  }
}
